@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>Sitenizin gizlilik politikasının ayrıntılarını öğrenmek için bu sayfayı kullanın.</p>

<div>
    <p>
        Bu web sayfası "Abdullah Yılmaz" tarafından bağımsız olarak geliştirilmiştir.
    </p>

    <p>TÜM HAKLARI SAKLIDIR.</p>
</div>
